body {
  background-color: salmon;
}

.nav-team {
  text-decoration: underline;
}

.navbar-nav {
  margin-left: 100px;
}
.navbar-brand {
  margin-right: 50px;
}

.LandingPage-Background {
  height: 300px;
}
.container-background {
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.white-text {
  color: white;
}
.headline-center {
  align-items: center;
  justify-content: center;
  display: flex;
}
.subtext-center {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
.icon {
  margin-right: 50px;
}
.banner-column {
  padding: 40px;
  color: white;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: bold;
}
.banner-background {
  display: flex;
  justify-content: center;
}
.banner-image {
  width: 225px;
}
.banner-text {
  display: flex;
  justify-content: center;
}
